<!doctype html>
<html lang="en">
  <head>
    {% include 'includes/head_tags.html' %}
    <title>My First Page</title>
  </head>
  <body>
  {% include 'includes/paragraph.liquid' %}
  {% include 'includes/footer.html' %}
  </body>
</html>